{% from "macros.html" import nav_link with context %}
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='belquery.js') }}"></script>
<script src="{{ url_for('static', filename='datatables.js') }}"></script>

<html>
  <head>
       <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    {{ success_msg }}
    {% block head %}
        <title>BEL Query Language</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 700px;
      }
      h2 {color: red;}
    </style>
  </head>
  <body>
{#    <nav class="navbar navbar-inverse" role="navigation">#}
{#      <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#          </button>#}
{#          <a class="navbar-brand" href="/">Home</a>#}
{#        </div>#}
{#      </div><!-- /.container-fluid -->#}
{#    </nav>#}
    <div>
      {% block heading %}
          <div class="container" style="padding-top: 50px;">
           <h1>BEL Query Language Tool</h1>
          </div>
      {% endblock %}
      <br>
      {% block content %}{% endblock %}
      <div class="footer">
        {% block footer %}
{#          <a href="https://gitlab-sysprog.informatik.uni-bonn.de/bschultz"> Bruce's GitLab Profile</a>#}
        {% endblock %}
      </div>
    </div>

  </body>
</html>
